<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Main Content Header</h2>        
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione quia ipsam quam eius rerum totam facilis expedita doloremque asperiores?
    </div>
</div>