<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, alias!</p>
    </header>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">>
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, beatae quia dicta consequuntur repellat iure. Harum modi natus quam deserunt.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
            <source type="image/png" srcset="images/easy.png 1x, images/easy@2x 2x" />
            <img class="feature__image" src="images/easy.png" alt="">
        </picture>
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, beatae quia dicta consequuntur repellat iure. Harum modi natus quam deserunt.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/fast.webp 1x, images/fast@2x.webp 2x" />
            <source type="image/png" srcset="images/fast.png 1x, images/fast@2x 2x" />
            <img class="feature__image" src="images/fast.png" alt="">
        </picture>
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Wordpress Made Easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, beatae quia dicta consequuntur repellat iure. Harum modi natus quam deserunt.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x" />
            <source type="image/png" srcset="images/wordpress.png 1x, images/wordpress@2x 2x" />
            <img class="feature__image" src="images/wordpress.png" alt="">
        </picture>
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3 class="feature__heading">24/7 Expert Support</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, beatae quia dicta consequuntur repellat iure. Harum modi natus quam deserunt.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/support.webp 1x, images/support@2x.webp 2x" />
            <source type="image/png" srcset="images/support.png 1x, images/support@2x 2x" />
            <img class="feature__image" src="images/support.png" alt="">
        </picture>
    </article>
</section>